.navbar {
    color: whitesmoke; 
    box-shadow: 0 0 25px 0 black; 
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background: linear-gradient(45deg, rgb(156, 14, 156), midnightblue);
}

.cart {
    /*
    border-radius: 6px;
    display: inline-block;
    width: 10px;
    position: relative;
    transform: translatex(50%);
    margin-right: 100rem;
    display: none;*/
    font-size: 30px;
    position: absolute;
    right: 10px;
    top: 2rem;
    padding: 5px;
    color: rgb(240, 232, 232);
    transform: translatex(50%);
    margin-bottom: 20rem;
    margin-left: 100rem;
    margin-right: 83rem;
}

.navtext  div{
    font-family: Georgia, 'Times New Roman', Times, serif ;
    display: inline-block;
    position: relative;
    font-size: 16px;
    text-transform: uppercase;
    color: #f1f1f1;
  
}

.cartcounter {
    font-size: 30px;
    padding: 0 5px;
    top: 20px;
    display: inline-block;
    position: relative;
    transform: translateY(-60%);
    margin-left: 0rem;
    margin-right: 60px;
    text-transform: uppercase;
    color: rgb(7, 7, 7);
    position: absolute;
}

.seeCartButton{
    font-size: 1.5rem; 
    transition:all 0.5s ease-in-out;
    position: absolute;
    z-index: 5;
    color: #f1f1f1;
    background:transparent;
    border: 0.05rem solid lightBlue;
    border-color: Yellow;
    border-radius: 0.5rem;
    cursor:pointer;
    display: inline-block;
    top: 2rem;
    margin-left: 55px;
    
}

.seeCartButton:hover{
        background: Yellow;
        color: red;
}
    
.seeCartButton:focus{
        outline:none;
    }


.menu-container { 
    display:flex;
    justify-content: left;  
    align-items: left;
    flex-direction: row;
    
}

.menu {
        background: #ffffff;
        border-radius: 8px;
        align-items: left;
        
        left: 0px;
        width: 30px;
        margin-right: 20rem;
        box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
        opacity: 0;
        visibility: hidden;
        transform: translateY(0px);
        transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
      }
      
      .menu.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(80px);
        top: 500px;
      }

      .menu-trigger {
        color: black;
        font-size: 40px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: left;
        padding: 4px 6px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
        border: none;
        vertical-align: middle;
        transition: box-shadow 0.4s ease;
        /*background: #ffffff;
        border-radius: 90px;*/
      }
      
      .menu-trigger:hover {
        box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
      }
      
     /* .menu-trigger span {
        font-weight: 700;
        vertical-align: middle;
        font-size: 14px;
        margin: 0 10px;
      }*/
      
     /* .menu-trigger img {
        border-radius: 90px;
      }*/

      /*@media screen and (max-width: 500px){
        .list {
            flex-direction: column;
            height: auto;
        }

        .navbar {
            flex-direction: column;
            height: auto;
        }
        .items:nth-child(1){
            border-top: 1px solid rgba(255, 255, 255, 0.555);
            margin-top: 50px;
        }
        .items {
            width: 100%;
            border-top: 1px solid rgba(255, 255, 255, 0.555);
            text-align: center;
            margin-right: 0px;
            padding: 20px 0;
        }
        .btn {
            display: block;
        }
    }*/

    @media screen and (max-width: 600px) {
        .navbar {
          position: fixed;
        }
      
        .nav-menu {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 90vh;
          position: absolute;
          top: 80px;
          left: -100%;
          opacity: 1;
          transition: all 0.5s ease;
        }
      
        .nav-menu.active {
          background: #242222;
          left: 0;
          opacity: 1;
          transition: all 0.5s ease;
          z-index: 1;
        }
      
        .nav-links {
          text-align: center;
          padding: 2rem;
          width: 100%;
          display: table;
        }
      
        .nav-links:hover {
          background-color: #fff;
          color: #242424;
          border-radius: 0;
        }
      /*.navbar-logo*/
        .cart {
          position: absolute;
          top: 0;
          left: 0;
          transform: translate(25%, 50%);
        }
      
        /*.menu-icon*/
        .cartCounter {
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          margin-left: 5rem auto;
          transform: translate(-100%, 60%);
          font-size: 1.8rem;
          /*cursor: pointer;
          opacity: 0;
          visibility: hidden;  */  
        }
      
        .fa-times {
          color: #fff;
          font-size: 2rem;
        }
      
        /*.nav-links-mobile */
        /*.cartcounter{
          display: block;
          text-align: center;
          margin: 2rem auto;
          margin-right: 5rem auto;
          border-radius: 4px;
          width: 5%;
          text-decoration: none;
          font-size: 1.5rem;
          background-color: transparent;
          color: #fff;
          padding: 14px 20px;
          border: 1px solid #fff;
          transition: all 0.3s ease-out;
        }*/
      
        .nav-links-mobile:hover {
          background: #fff;
          color: #242424;
          transition: 250ms;
        }
      }

      .navbar {
        /*background-color: grey;*/
        padding: 20px 50px 20px 50px;
        user-select: none;
        background: linear-gradient(45deg, rgb(156, 14, 156), midnightblue);
      }
      
      .navbar > .seeCartButton {
        float: right;
      }
      
      .navbar > .seeCartButton > * {
        margin-left: 5px;
      }
      
      .navbar > .menu-trigger {
        float: left;
      }
      
      .navbar > .menu-container > * {
        margin-right: 5px;
      }
      
      .navbar > .menu-container > *, .navbar > .seeCartButton > * {
        padding: 11.4px;
        display: inline-block;
        text-align: center;
        min-width: 50px;
      }
      
      .navbar *:hover{
        cursor: pointer;
      }
      
      .clear-fix {
        clear: both;
      }
      
      .navbar .cart {
        padding: 10px;
        position: absolute;
        top: 0;
        right: 0;
        display: none;
      }
      
      @media screen and (max-width: 600px) {
        .navbar {
            padding: 40px 20px 20px 20px;
            max-height: 0;
            overflow: hidden;
        }
      
        .navbar > .menu-container, .top-menu > .seeCartButton {
          display: none;
      }
      
      .cart {
        display: block !important;
      }
      }
      
      @media screen and (max-width: 600px) {
        .navbar.toggled {
            padding: 60px 0 0 0;
            max-height: 1500px;
            transition: max-height 1s;
        }
      
        .navbar.toggled > .menu-container {
            border-bottom: 1px solid black;
            margin: 15px 0 0 0 ;
        }
      
        .navbar.toggled *:not(.navtext):not(.cart) {
            float: none;
            display: block !important;
            text-align: left;
            margin: 0;
        }
      }
      
      