.column {
    display: inline-block;
    width: 33%;
}

.column div{
    height: 100%;
    width: 100%;
    min-height: 130px;
}

.btn {
    border-radius: 20%;
    color: brown;
    background-color: white;
    font-size: 16px;

}

.btn:hover{
    cursor:pointer;
}


.read-more-link{
    color:blueviolet;
    text-decoration: underline;
    letter-spacing: 1px;
    cursor: pointer;
}

.extra-content{
    color: cornflowerblue;
    font-weight: 500;
}



    @media screen and (max-width: 600px){
        .column {
            flex-direction: column;
            width: 50%;
            height: auto;
        }
    }